In [25]:
import pandas as pd
df = pd.read_csv('C:\\Users\\ADMIN\\Downloads\\GDPlist.csv', encoding='latin1')
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [ ]:
print('Số cột dữ liệu là: ',df.shape[0])
print('Số dòng dữ liệu là: ',df.shape[1])

In [7]:
print("Giá trị lớn nhất của GDP là: ",df.max())
print("Giá trị nhỏ nhất của GDP là: ",df.min())

Giá trị lớn nhất của GDP là:  Country                         Zambia
Continent                South America
GDP (millions of US$)         15094025
dtype: object
Giá trị nhỏ nhất của GDP là:  Country                   Afghanistan
Continent                      Africa
GDP (millions of US$)           10600
dtype: object

In [10]:
print("Giá trị xuất hiện nhiều nhất của biến định lượng là: ", df.mode())
print("Giá trị trung vị của biến định lượng là: ", df.median())
print("Giá trị trung bình của biến định lượng là: ", df.mean())

Giá trị xuất hiện nhiều nhất của biến định lượng là:            Country Continent  GDP (millions of US$)
0     Afghanistan    Europe                  10600
1         Albania       NaN                  11313
2         Algeria       NaN                  12461
3          Angola       NaN                  12655
4       Argentina       NaN                  12827
..            ...       ...                    ...
120    Uzbekistan       NaN                2776324
121     Venezuela       NaN                3577031
122       Vietnam       NaN                5869471
123         Yemen       NaN                7298147
124        Zambia       NaN               15094025

[125 rows x 3 columns]
Giá trị trung vị của biến định lượng là:  GDP (millions of US$)    96089.0
dtype: float64
Giá trị trung bình của biến định lượng là:  GDP (millions of US$)    555427.784
dtype: float64

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_9884\770015598.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Giá trị trung vị của biến định lượng là: ", df.median())
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_9884\770015598.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print("Giá trị trung bình của biến định lượng là: ", df.mean())

In [17]:
most_common_continent = df['Continent'].mode().values[0]
print('Châu lục xuất hiện nhiều nhất là: ',most_common_continent)

Châu lục xuất hiện nhiều nhất là:  Europe

In [24]:
continent_stats = df.pivot_table(values='GDP (millions of US$)', index='Continent', aggfunc={'GDP (millions of US$)': ['sum', 'mean']}).reset_index()

continent_stats.columns = ['Continent', 'Total GDP', 'Mean GDP']

print(continent_stats)

       Continent     Total GDP  Mean GDP
0         Africa  6.278659e+04   1820811
1           Asia  6.784970e+05  24425891
2         Europe  5.172805e+05  19139380
3  North America  1.658041e+06  18238447
4        Oceania  5.542423e+05   1662727
5  South America  4.601352e+05   4141217