In [2]:
import pandas as pd
df = pd.read_csv("C:/Users/ADMIN/OneDrive/Documents/FoodPrice_in_Turkey.csv")

In [7]:
df_price = df.loc[:,'Price']

In [5]:
df.describe()

         ProductId         UmId        Month         Year        Price
count  7381.000000  7381.000000  7381.000000  7381.000000  7381.000000
mean    254.509687    15.252811     6.479881  2017.458474    15.738709
std     141.008599    25.276665     3.530361     1.499256    22.418284
min      52.000000     5.000000     1.000000  2013.000000     0.253900
25%     114.000000     5.000000     3.000000  2017.000000     3.223600
50%     239.000000     5.000000     6.000000  2018.000000     5.909600
75%     388.000000     5.000000    10.000000  2019.000000    20.441900
max     502.000000   102.000000    12.000000  2019.000000   159.445800

In [8]:
df_price.count()

7381

In [16]:
print("Giá trị nhỏ nhất của Price là: " + str(df_price.min()))
print("Giá trị trung bình của Price là: " + str(df_price.mean()))
print("Độ lệch chuẩn của Price là: " + str(df_price.std()))
print("Giá trị cao nhất của Price là: " + str(df_price.max()))
print("Phương sai của Price là: " + str(df_price.var()))

Giá trị nhỏ nhất của Price là: 0.2539
Giá trị trung bình của Price là: 15.738708576073778
Độ lệch chuẩn của Price là: 22.418283552602354
Giá trị cao nhất của Price là: 159.4458
Phương sai của Price là: 502.5794374448812